In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Extract cvs into DataFrame
staffing_file = "Resources/hospital-staffing-2009-2013-.csv"
staffing_file2 = "Resources/hospital-staffing-2009-2013-2.csv"
staffing_df = pd.read_csv(staffing_file)
staffing_df2 = pd.read_csv(staffing_file2)

In [3]:
staffing_df.head()

,Year,Facility Number,Facility Name,Begin Date,End Date,County Name,Type of Control,Hours Type,Productive Hours,Productive Hours per Adjusted Patient Day
0,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Management & Supervision,63558,1.17
1,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Technician & Specialist,163706,3.02
2,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Registered Nurse,180034,3.32
3,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Licensed Vocational Nurse,22323,0.41
4,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Aides & Orderlies,97205,1.79

In [4]:
staffing_df2.head()

,Year,Facility Number,Facility Name,Begin Date,End Date,County Name,Type of Control,Hours Type,Productive Hours,Productive Hours per Adjusted Patient Day
0,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Management & Supervision,63558,1.17
1,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Technician & Specialist,163706,3.02
2,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Registered Nurse,180034,3.32
3,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Licensed Vocational Nurse,22323,0.41
4,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Aides & Orderlies,97205,1.79

In [5]:
#1. COMPARE BOTH DATASETS TO IDENTIFY IF THEY ARE SAME OR DIFFERENT:
# resource: https://stackoverflow.com/questions/20225110/comparing-two-dataframes-and-getting-the-differences/52047609#52047609
#identify if the columns heading are equal
if staffing_df.columns.all() == staffing_df2.columns.all():
    print('columns in dfs are same')
else:
    print('columns in dfs differ')
#Compare dfs: concat dfs and drop all duplicates to get the df of differences
df_diff = pd.concat([staffing_df,staffing_df2]).drop_duplicates(keep=False)
print(f'number of different rows in dfs: {len(df_diff)}')
df_diff
#As the datasest are identical, we use further the staffing_df to work with. We can drop staffing_df2

columns in dfs are same
number of different rows in dfs: 0

Empty DataFrame
Columns: [Year, Facility Number, Facility Name, Begin Date, End Date, County Name, Type of Control, Hours Type, Productive Hours, Productive Hours per Adjusted Patient Day]
Index: []

In [6]:
#2. CHECK FOR DUPLICATED ROWS/DATA IN DF: No identified
print(f"Number if duplicated rows in df: {len(staffing_df[staffing_df.duplicated(keep='first') == True])}")

staffing_df[staffing_df.duplicated(keep='first') == True]

Number if duplicated rows in df: 0

Empty DataFrame
Columns: [Year, Facility Number, Facility Name, Begin Date, End Date, County Name, Type of Control, Hours Type, Productive Hours, Productive Hours per Adjusted Patient Day]
Index: []

In [7]:
#check the df for datatype and NaN values
staffing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37604 entries, 0 to 37603
Data columns (total 10 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Year                                       37604 non-null  int64
 1   Facility Number                            37519 non-null  float64
 2   Facility Name                              37519 non-null  object
 3   Begin Date                                 37519 non-null  object
 4   End Date                                   37519 non-null  object
 5   County Name                                37604 non-null  object
 6   Type of Control                            37519 non-null  object
 7   Hours Type                                 37604 non-null  object
 8   Productive Hours                           37604 non-null  int64
 9   Productive Hours per Adjusted Patient Day  37417 non-null  float64
dtypes: float64(2), int64(2), object(6)
memory usage: 2.9+ MB

In [8]:
# 3. DROP ALL ROWS WHERE WITH NULL VALUE FOR 'FACILITY NUMBER':
# Based on the review of rows that includes NaN values we identified that all rows with NaN Facility Number are marked as county = statewide
# and therefore not required.

# - identify all rows with N/A data and review it
staffing_df[staffing_df.isnull().any(axis=1)]
# - drop all rows with Facility nUmber as NaN
staffing_df.dropna(subset=['Facility Number'], inplace=True)
staffing_df

,Year,Facility Number,Facility Name,Begin Date,End Date,County Name,Type of Control,Hours Type,Productive Hours,Productive Hours per Adjusted Patient Day
0,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Management & Supervision,63558,1.17
1,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Technician & Specialist,163706,3.02
2,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Registered Nurse,180034,3.32
3,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Licensed Vocational Nurse,22323,0.41
4,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Aides & Orderlies,97205,1.79
...,...,...,...,...,...,...,...,...,...,...
37582,2013,106580996.0,RIDEOUT MEMORIAL HOSPITAL,07/01/2012,06/30/2013,Yuba,Non-Profit,Ancillary Cost Centers,769308,9.46
37583,2013,106580996.0,RIDEOUT MEMORIAL HOSPITAL,07/01/2012,06/30/2013,Yuba,Non-Profit,Education Cost Centers,0,0.00
37584,2013,106580996.0,RIDEOUT MEMORIAL HOSPITAL,07/01/2012,06/30/2013,Yuba,Non-Profit,General Services Cost Centers,250731,3.08
37585,2013,106580996.0,RIDEOUT MEMORIAL HOSPITAL,07/01/2012,06/30/2013,Yuba,Non-Profit,Fiscal Services Cost Centers,152364,1.87
37586,2013,106580996.0,RIDEOUT MEMORIAL HOSPITAL,07/01/2012,06/30/2013,Yuba,Non-Profit,Administrative Services Cost Centers,241249,2.97

In [9]:
staffing_df.count()

Year                                         37519
Facility Number                              37519
Facility Name                                37519
Begin Date                                   37519
End Date                                     37519
County Name                                  37519
Type of Control                              37519
Hours Type                                   37519
Productive Hours                             37519
Productive Hours per Adjusted Patient Day    37332
dtype: int64

In [10]:
#4 REPLACE NaN VALUES IN 'Productive Hours per Adjusted Patient Day' with zero:
staffing_df[staffing_df.isnull().any(axis=1)].count()

Year                                         187
Facility Number                              187
Facility Name                                187
Begin Date                                   187
End Date                                     187
County Name                                  187
Type of Control                              187
Hours Type                                   187
Productive Hours                             187
Productive Hours per Adjusted Patient Day      0
dtype: int64

In [11]:
staffing_df.fillna(0, inplace=True)
staffing_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37519 entries, 0 to 37586
Data columns (total 10 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Year                                       37519 non-null  int64
 1   Facility Number                            37519 non-null  float64
 2   Facility Name                              37519 non-null  object
 3   Begin Date                                 37519 non-null  object
 4   End Date                                   37519 non-null  object
 5   County Name                                37519 non-null  object
 6   Type of Control                            37519 non-null  object
 7   Hours Type                                 37519 non-null  object
 8   Productive Hours                           37519 non-null  int64
 9   Productive Hours per Adjusted Patient Day  37519 non-null  float64
dtypes: float64(2), int64(2), object(6)
memory usage: 3.1+ MB

In [12]:
# check the counts of unique values per columns - facility number and facility name have different number of unique values
# the further analysis is needed
staffing_df.nunique()

Year                                             5
Facility Number                                464
Facility Name                                  484
Begin Date                                      60
End Date                                        64
County Name                                     56
Type of Control                                  5
Hours Type                                      17
Productive Hours                             29085
Productive Hours per Adjusted Patient Day     1970
dtype: int64

In [13]:
num_name_check = staffing_df.copy()
num_name_check.drop_duplicates(subset=['Facility Number', 'Facility Name'], inplace=True)
num_name_issues = num_name_check[num_name_check['Facility Number'].duplicated(keep=False)].sort_values(by='Facility Number')
num_name_issues

,Year,Facility Number,Facility Name,Begin Date,End Date,County Name,Type of Control,Hours Type,Productive Hours,Productive Hours per Adjusted Patient Day
136,2009,106010887.0,KINDRED HOSPITAL - SAN FRANCISCO BAY AREA,01/01/2009,12/31/2009,Alameda,Investor,Management & Supervision,37185,1.90
22814,2012,106010887.0,KINDRED HOSPITAL SAN FRANCISCO BAY AREA,01/01/2012,12/31/2012,Alameda,Investor,Management & Supervision,51909,3.18
734,2009,106100797.0,SIERRA KINGS DISTRICT HOSPITAL,07/01/2008,06/30/2009,Fresno,District,Management & Supervision,66727,4.51
30957,2013,106100797.0,ADVENTIST MEDICAL CENTER - REEDLEY,01/01/2013,12/31/2013,Fresno,Non-Profit,Management & Supervision,23891,1.38
1453,2009,106190053.0,ST. MARY MEDICAL CENTER,07/01/2008,06/30/2009,Los Angeles,Non-Profit,Management & Supervision,155698,1.92
24140,2012,106190053.0,ST. MARY MEDICAL CENTER - LONG BEACH,07/01/2011,06/30/2012,Los Angeles,Non-Profit,Management & Supervision,133792,1.87
9089,2010,106190053.0,ST. MARY MEDICAL CENTER - LOS ANGELES,07/01/2009,06/30/2010,Los Angeles,Non-Profit,Management & Supervision,142415,1.80
2272,2009,106190517.0,TARZANA MEDICAL CENTER,01/01/2009,12/31/2009,Los Angeles,Investor,Management & Supervision,136159,1.75
9888,2010,106190517.0,PROVIDENCE TARZANA MEDICAL CENTER,01/01/2010,12/31/2010,Los Angeles,Non-Profit,Management & Supervision,128766,1.63
10228,2010,106190687.0,SANTA MONICA-UCLA MEDICAL CENTER & ORTHOPAEDIC...,07/01/2009,06/30/2010,Los Angeles,Non-Profit,Management & Supervision,251646,2.61
2612,2009,106190687.0,SANTA MONICA-UCLA MEDICAL CENTER& ORTHOPAEDIC ...,07/01/2008,06/30/2009,Los Angeles,Non-Profit,Management & Supervision,199849,2.14
18275,2011,106194967.0,STAR VIEW ADOLESCENT PSYCHIATRIC HEALTH FACILI...,01/01/2011,12/31/2011,Los Angeles,Investor,Management & Supervision,4511,0.90
3156,2009,106194967.0,STAR VIEW ADOLESCENT PSYCHIATRIC HEALTH FACILI...,01/01/2009,12/31/2009,Los Angeles,Investor,Management & Supervision,4398,0.92
3445,2009,106240942.0,MERCY MEDICAL CENTER MERCED-COMMUNITY CAMPUS,07/01/2008,06/30/2009,Merced,Non-Profit,Management & Supervision,126470,1.73
11078,2010,106240942.0,MERCY MEDICAL CENTER MERCED - COMMUNITY CAMPUS,07/01/2009,06/30/2010,Merced,Non-Profit,Management & Supervision,157445,2.12
26435,2012,106301127.0,KINDRED HOSPITAL BREA,01/01/2012,12/31/2012,Orange,Investor,Management & Supervision,77667,2.78
3768,2009,106301127.0,KINDRED HOSPITAL - BREA,01/01/2009,12/31/2009,Orange,Investor,Management & Supervision,36632,1.86
18955,2011,106301175.0,FOUNTAIN VALLEY REGIONAL HOSPITAL& MEDICAL CEN...,01/01/2011,12/31/2011,Orange,Investor,Management & Supervision,122392,1.06
3836,2009,106301175.0,FOUNTAIN VALLEY REGIONAL HOSPITAL& MEDICAL CEN...,01/01/2009,12/31/2009,Orange,Investor,Management & Supervision,132635,1.14
18972,2011,106301188.0,WESTERN MEDICAL CENTER - ANAHEIM,01/01/2011,12/31/2011,Orange,Investor,Management & Supervision,73679,1.22
3853,2009,106301188.0,WESTERN MEDICAL CENTER-ANAHEIM,01/01/2009,12/31/2009,Orange,Investor,Management & Supervision,72446,1.14
26792,2012,106301380.0,KINDRED HOSPITAL WESTMINSTER,01/01/2012,12/31/2012,Orange,Investor,Management & Supervision,133271,3.58
4142,2009,106301380.0,KINDRED HOSPITAL - WESTMINSTER,01/01/2009,12/31/2009,Orange,Investor,Management & Supervision,101055,2.80
4159,2009,106301566.0,WESTERN MEDICAL CENTER-SANTA ANA,01/01/2009,12/31/2009,Orange,Investor,Management & Supervision,196704,3.64
19261,2011,106301566.0,WESTERN MEDICAL CENTER - SANTA ANA,01/01/2011,12/31/2011,Orange,Investor,Management & Supervision,195833,4.09
19397,2011,106314029.0,TELECARE PLACER COUNTY - PHF,07/01/2010,06/30/2011,Placer,Investor,Management & Supervision,5468,1.24
4312,2009,106314029.0,TELECARE PLACER COUNTY P.H.F,07/01/2008,06/30/2009,Placer,Investor,Management & Supervision,5880,1.34
12217,2010,106334068.0,SOUTHWEST HEALTHCARE SYSTEM - MURRIETA,01/01/2010,12/31/2010,Riverside,Investor,Management & Supervision,133137,1.41
4635,2009,106334068.0,SOUTHWEST HEALTHCARE SYSTEM-MURRIETA,01/01/2009,12/31/2009,Riverside,Investor,Management & Supervision,227478,2.44
5060,2009,106361274.0,KINDRED HOSPITAL - ONTARIO,01/01/2009,12/31/2009,San Bernardino,Investor,Management & Supervision,36893,1.28
27744,2012,106361274.0,KINDRED HOSPITAL ONTARIO,01/01/2012,12/31/2012,San Bernardino,Investor,Management & Supervision,104051,3.70
12727,2010,106361343.0,ST. MARY MEDICAL CENTER - APPLE VALLEY,07/01/2009,06/30/2010,San Bernardino,Non-Profit,Management & Supervision,168867,1.78
5145,2009,106361343.0,ST. MARY MEDICAL CENTER,07/01/2008,06/30/2009,San Bernardino,Non-Profit,Management & Supervision,165918,1.93
5570,2009,106370771.0,SCRIPPS MEMORIAL HOSPITAL-LA JOLLA,10/01/2008,09/30/2009,San Diego,Non-Profit,Management & Supervision,262200,2.47
20673,2011,106370771.0,SCRIPPS MEMORIAL HOSPITAL - LA JOLLA,10/01/2010,09/30/2011,San Diego,Non-Profit,Management & Supervision,272932,2.66
35684,2013,106370782.0,UNIVERSITY OF CALIFORNIA SAN DIEGO MEDICAL CENTER,07/01/2012,06/30/2013,San Diego,Non-Profit,Management & Supervision,798056,2.87
5604,2009,106370782.0,UNIVERSITY OF CALIF - SAN DIEGO MEDICAL CENTER,07/01/2008,06/30/2009,San Diego,Non-Profit,Management & Supervision,719772,3.14
21744,2011,106434218.0,KAISER PERMANENTE - PHF - SANTA CLARA,01/01/2011,12/31/2011,Santa Clara,Non-Profit,Management & Supervision,0,0.00
14206,2010,106434218.0,KAISER PERMANENTE P.H.F.- SANTA CLARA,11/16/2010,12/31/2010,Santa Clara,Non-Profit,Management & Supervision,0,0.00
29308,2012,106434218.0,KAISER PERMANENTE P.H.F. - SANTA CLARA,01/01/2012,12/31/2012,Santa Clara,Non-Profit,Management & Supervision,0,0.00
36686,2013,106434218.0,KAISER PERMANENTE P.H.F.-SANTA CLARA,01/01/2013,12/31/2013,Santa Clara,Non-Profit,Management & Supervision,1744,0.25

In [14]:
# unify the hospital names:
staffing_df['Facility Name'] = staffing_df['Facility Name'].replace({
    'KINDRED HOSPITAL SAN FRANCISCO BAY AREA': 'KINDRED HOSPITAL - SAN FRANCISCO BAY AREA',
    'SIERRA KINGS DISTRICT HOSPITAL': 'ADVENTIST MEDICAL CENTER - REEDLEY',
    'ST. MARY MEDICAL CENTER': 'ST. MARY MEDICAL CENTER - LONG BEACH',
    'ST. MARY MEDICAL CENTER - LOS ANGELES': 'ST. MARY MEDICAL CENTER - LONG BEACH',
    'TARZANA MEDICAL CENTER': 'PROVIDENCE TARZANA MEDICAL CENTER',
    'SANTA MONICA-UCLA MEDICAL CENTER& ORTHOPAEDIC HOSPITAL': 'SANTA MONICA-UCLA MEDICAL CENTER & ORTHOPAEDIC HOSPITAL',
    'STAR VIEW ADOLESCENT PSYCHIATRIC HEALTH FACILITY- PHF': 'STAR VIEW ADOLESCENT PSYCHIATRIC HEALTH FACILITY - PHF',
    'MERCY MEDICAL CENTER MERCED-COMMUNITY CAMPUS': 'MERCY MEDICAL CENTER MERCED - COMMUNITY CAMPUS',
    'KINDRED HOSPITAL - BREA': 'KINDRED HOSPITAL BREA',
    'FOUNTAIN VALLEY REGIONAL HOSPITAL& MEDICAL CENTER- EUCLID': 'FOUNTAIN VALLEY REGIONAL HOSPITAL& MEDICAL CENTER - EUCLID',
    'WESTERN MEDICAL CENTER-ANAHEIM': 'WESTERN MEDICAL CENTER - ANAHEIM',
    'KINDRED HOSPITAL WESTMINSTER': 'KINDRED HOSPITAL - WESTMINSTER',
    'WESTERN MEDICAL CENTER-SANTA ANA': 'WESTERN MEDICAL CENTER - SANTA ANA',
    'TELECARE PLACER COUNTY P.H.F': 'TELECARE PLACER COUNTY - PHF',
    'SOUTHWEST HEALTHCARE SYSTEM-MURRIETA': 'SOUTHWEST HEALTHCARE SYSTEM - MURRIETA',
    'KINDRED HOSPITAL ONTARIO': 'KINDRED HOSPITAL - ONTARIO',
    'ST. MARY MEDICAL CENTER': 'ST. MARY MEDICAL CENTER - APPLE VALLEY',
    'SCRIPPS MEMORIAL HOSPITAL-LA JOLLA': 'SCRIPPS MEMORIAL HOSPITAL - LA JOLLA',
    'UNIVERSITY OF CALIF - SAN DIEGO MEDICAL CENTER': 'UNIVERSITY OF CALIFORNIA SAN DIEGO MEDICAL CENTER',
    'KAISER PERMANENTE - PHF - SANTA CLARA': 'KAISER PERMANENTE P.H.F. - SANTA CLARA',
    'KAISER PERMANENTE P.H.F.- SANTA CLARA': 'KAISER PERMANENTE P.H.F. - SANTA CLARA',
    'KAISER PERMANENTE P.H.F.-SANTA CLARA': 'KAISER PERMANENTE P.H.F. - SANTA CLARA'
})

In [15]:
# check unique count
staffing_df.nunique()

Year                                             5
Facility Number                                464
Facility Name                                  463
Begin Date                                      60
End Date                                        64
County Name                                     56
Type of Control                                  5
Hours Type                                      17
Productive Hours                             29085
Productive Hours per Adjusted Patient Day     1970
dtype: int64

In [16]:
num_name_check2 = staffing_df.copy()
num_name_check2.drop_duplicates(subset=['Facility Number', 'Facility Name'], inplace=True)
num_name_issues2 = num_name_check2[num_name_check2['Facility Number'].duplicated(keep=False)].sort_values(by='Facility Number')
num_name_issues2

,Year,Facility Number,Facility Name,Begin Date,End Date,County Name,Type of Control,Hours Type,Productive Hours,Productive Hours per Adjusted Patient Day
1453,2009,106190053.0,ST. MARY MEDICAL CENTER - APPLE VALLEY,07/01/2008,06/30/2009,Los Angeles,Non-Profit,Management & Supervision,155698,1.92
9089,2010,106190053.0,ST. MARY MEDICAL CENTER - LONG BEACH,07/01/2009,06/30/2010,Los Angeles,Non-Profit,Management & Supervision,142415,1.80

In [19]:
num_name_check4 = staffing_df.copy()
num_name_check4.drop_duplicates(subset=['Facility Number', 'Facility Name'], inplace=True)
num_name_issues4 = num_name_check2[num_name_check4['Facility Number'].duplicated(keep=False)].sort_values(by='Facility Number')
num_name_issues4

C:\Users\zuzan\anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Facility Number,Facility Name,Begin Date,End Date,County Name,Type of Control,Hours Type,Productive Hours,Productive Hours per Adjusted Patient Day
1436,2009,106190052.0,BARLOW HOSPITAL,09/01/2008,08/31/2009,Los Angeles,Non-Profit,Management & Supervision,68210,3.10
1453,2009,106190053.0,ST. MARY MEDICAL CENTER - APPLE VALLEY,07/01/2008,06/30/2009,Los Angeles,Non-Profit,Management & Supervision,155698,1.92
9089,2010,106190053.0,ST. MARY MEDICAL CENTER - LONG BEACH,07/01/2009,06/30/2010,Los Angeles,Non-Profit,Management & Supervision,142415,1.80

In [56]:
#5. DATA TYPES CORRECTION:
# - facility number should be int64
staffing_df['Facility Number']=staffing_df['Facility Number'].astype('int64')
staffing_df.dtypes

Year                                           int64
Facility Number                                int64
Facility Name                                 object
Begin Date                                    object
End Date                                      object
County Name                                   object
Type of Control                               object
Hours Type                                    object
Productive Hours                               int64
Productive Hours per Adjusted Patient Day    float64
dtype: object

In [57]:
#6. RESET THE INDEX
staffing_df.reset_index(drop=True, inplace=True)
staffing_df

,Year,Facility Number,Facility Name,Begin Date,End Date,County Name,Type of Control,Hours Type,Productive Hours,Productive Hours per Adjusted Patient Day
0,2009,106010735,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Management & Supervision,63558,1.17
1,2009,106010735,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Technician & Specialist,163706,3.02
2,2009,106010735,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Registered Nurse,180034,3.32
3,2009,106010735,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Licensed Vocational Nurse,22323,0.41
4,2009,106010735,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Aides & Orderlies,97205,1.79
...,...,...,...,...,...,...,...,...,...,...
37514,2013,106580996,RIDEOUT MEMORIAL HOSPITAL,07/01/2012,06/30/2013,Yuba,Non-Profit,Ancillary Cost Centers,769308,9.46
37515,2013,106580996,RIDEOUT MEMORIAL HOSPITAL,07/01/2012,06/30/2013,Yuba,Non-Profit,Education Cost Centers,0,0.00
37516,2013,106580996,RIDEOUT MEMORIAL HOSPITAL,07/01/2012,06/30/2013,Yuba,Non-Profit,General Services Cost Centers,250731,3.08
37517,2013,106580996,RIDEOUT MEMORIAL HOSPITAL,07/01/2012,06/30/2013,Yuba,Non-Profit,Fiscal Services Cost Centers,152364,1.87
37518,2013,106580996,RIDEOUT MEMORIAL HOSPITAL,07/01/2012,06/30/2013,Yuba,Non-Profit,Administrative Services Cost Centers,241249,2.97