In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Extract cvs into DataFrame
staffing_file = "Resources/hospital-staffing-2009-2013-.csv"
staffing_file2 = "Resources/hospital-staffing-2009-2013-2.csv"
staffing_df = pd.read_csv(staffing_file)
staffing_df2 = pd.read_csv(staffing_file2)

In [3]:
staffing_df.head()

,Year,Facility Number,Facility Name,Begin Date,End Date,County Name,Type of Control,Hours Type,Productive Hours,Productive Hours per Adjusted Patient Day
0,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Management & Supervision,63558,1.17
1,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Technician & Specialist,163706,3.02
2,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Registered Nurse,180034,3.32
3,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Licensed Vocational Nurse,22323,0.41
4,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Aides & Orderlies,97205,1.79

In [4]:
staffing_df2.head()

,Year,Facility Number,Facility Name,Begin Date,End Date,County Name,Type of Control,Hours Type,Productive Hours,Productive Hours per Adjusted Patient Day
0,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Management & Supervision,63558,1.17
1,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Technician & Specialist,163706,3.02
2,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Registered Nurse,180034,3.32
3,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Licensed Vocational Nurse,22323,0.41
4,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Aides & Orderlies,97205,1.79

In [5]:
#1. COMPARE BOTH DATASETS TO IDENTIFY IF THEY ARE SAME OR DIFFERENT:
# resource: https://stackoverflow.com/questions/20225110/comparing-two-dataframes-and-getting-the-differences/52047609#52047609
#identify if the columns heading are equal
if staffing_df.columns.all() == staffing_df2.columns.all():
    print('columns in dfs are same')
else:
    print('columns in dfs differ')
#Compare dfs: concat dfs and drop all duplicates to get the df of differences
df_diff = pd.concat([staffing_df,staffing_df2]).drop_duplicates(keep=False)
print(f'number of different rows in dfs: {len(df_diff)}')
df_diff
#As the datasest are identical, we use further the staffing_df to work with. We can drop staffing_df2

columns in dfs are same
number of different rows in dfs: 0

Empty DataFrame
Columns: [Year, Facility Number, Facility Name, Begin Date, End Date, County Name, Type of Control, Hours Type, Productive Hours, Productive Hours per Adjusted Patient Day]
Index: []

In [6]:
#2. CHECK FOR DUPLICATED ROWS/DATA IN DF: No identified
print(f"Number if duplicated rows in df: {len(staffing_df[staffing_df.duplicated(keep='first') == True])}")

staffing_df[staffing_df.duplicated(keep='first') == True]

Number if duplicated rows in df: 0

Empty DataFrame
Columns: [Year, Facility Number, Facility Name, Begin Date, End Date, County Name, Type of Control, Hours Type, Productive Hours, Productive Hours per Adjusted Patient Day]
Index: []

In [7]:
#check the df for datatype and NaN values
staffing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37604 entries, 0 to 37603
Data columns (total 10 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Year                                       37604 non-null  int64
 1   Facility Number                            37519 non-null  float64
 2   Facility Name                              37519 non-null  object
 3   Begin Date                                 37519 non-null  object
 4   End Date                                   37519 non-null  object
 5   County Name                                37604 non-null  object
 6   Type of Control                            37519 non-null  object
 7   Hours Type                                 37604 non-null  object
 8   Productive Hours                           37604 non-null  int64
 9   Productive Hours per Adjusted Patient Day  37417 non-null  float64
dtypes: float64(2), int64(2), object(6)
memory usage: 2.9+ MB

In [8]:
# 3. DROP ALL ROWS WHERE WITH NULL VALUE FOR 'FACILITY NUMBER':
# Based on the review of rows that includes NaN values we identified that all rows with NaN Facility Number are marked as county = statewide
# and therefore not required.

# - identify all rows with N/A data and review it
staffing_df[staffing_df.isnull().any(axis=1)]
# - drop all rows with Facility nUmber as NaN
staffing_df.dropna(subset=['Facility Number'], inplace=True)
staffing_df

,Year,Facility Number,Facility Name,Begin Date,End Date,County Name,Type of Control,Hours Type,Productive Hours,Productive Hours per Adjusted Patient Day
0,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Management & Supervision,63558,1.17
1,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Technician & Specialist,163706,3.02
2,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Registered Nurse,180034,3.32
3,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Licensed Vocational Nurse,22323,0.41
4,2009,106010735.0,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Aides & Orderlies,97205,1.79
...,...,...,...,...,...,...,...,...,...,...
37582,2013,106580996.0,RIDEOUT MEMORIAL HOSPITAL,07/01/2012,06/30/2013,Yuba,Non-Profit,Ancillary Cost Centers,769308,9.46
37583,2013,106580996.0,RIDEOUT MEMORIAL HOSPITAL,07/01/2012,06/30/2013,Yuba,Non-Profit,Education Cost Centers,0,0.00
37584,2013,106580996.0,RIDEOUT MEMORIAL HOSPITAL,07/01/2012,06/30/2013,Yuba,Non-Profit,General Services Cost Centers,250731,3.08
37585,2013,106580996.0,RIDEOUT MEMORIAL HOSPITAL,07/01/2012,06/30/2013,Yuba,Non-Profit,Fiscal Services Cost Centers,152364,1.87
37586,2013,106580996.0,RIDEOUT MEMORIAL HOSPITAL,07/01/2012,06/30/2013,Yuba,Non-Profit,Administrative Services Cost Centers,241249,2.97

In [9]:
staffing_df.count()

Year                                         37519
Facility Number                              37519
Facility Name                                37519
Begin Date                                   37519
End Date                                     37519
County Name                                  37519
Type of Control                              37519
Hours Type                                   37519
Productive Hours                             37519
Productive Hours per Adjusted Patient Day    37332
dtype: int64

In [10]:
#4 REPLACE NaN VALUES IN 'Productive Hours per Adjusted Patient Day' with zero:
staffing_df[staffing_df.isnull().any(axis=1)].count()

Year                                         187
Facility Number                              187
Facility Name                                187
Begin Date                                   187
End Date                                     187
County Name                                  187
Type of Control                              187
Hours Type                                   187
Productive Hours                             187
Productive Hours per Adjusted Patient Day      0
dtype: int64

In [11]:
staffing_df.fillna(0, inplace=True)
staffing_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37519 entries, 0 to 37586
Data columns (total 10 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Year                                       37519 non-null  int64
 1   Facility Number                            37519 non-null  float64
 2   Facility Name                              37519 non-null  object
 3   Begin Date                                 37519 non-null  object
 4   End Date                                   37519 non-null  object
 5   County Name                                37519 non-null  object
 6   Type of Control                            37519 non-null  object
 7   Hours Type                                 37519 non-null  object
 8   Productive Hours                           37519 non-null  int64
 9   Productive Hours per Adjusted Patient Day  37519 non-null  float64
dtypes: float64(2), int64(2), object(6)
memory usage: 3.1+ MB

In [12]:
# check the counts of unique values per columns - facility number and facility name have different number of unique values
# the further analysis is needed
staffing_df.nunique()

Year                                             5
Facility Number                                464
Facility Name                                  484
Begin Date                                      60
End Date                                        64
County Name                                     56
Type of Control                                  5
Hours Type                                      17
Productive Hours                             29085
Productive Hours per Adjusted Patient Day     1970
dtype: int64

In [13]:
num_name_check = staffing_df.copy()
num_name_check.drop_duplicates(subset=['Facility Number', 'Facility Name'], inplace=True)
num_name_issues = num_name_check[num_name_check['Facility Number'].duplicated(keep=False)].sort_values(by='Facility Number')
num_name_issues
# The name column will be dropped, as we unified naming from 'hospital_bridge' df can be used in database

,Year,Facility Number,Facility Name,Begin Date,End Date,County Name,Type of Control,Hours Type,Productive Hours,Productive Hours per Adjusted Patient Day
136,2009,106010887.0,KINDRED HOSPITAL - SAN FRANCISCO BAY AREA,01/01/2009,12/31/2009,Alameda,Investor,Management & Supervision,37185,1.90
22814,2012,106010887.0,KINDRED HOSPITAL SAN FRANCISCO BAY AREA,01/01/2012,12/31/2012,Alameda,Investor,Management & Supervision,51909,3.18
734,2009,106100797.0,SIERRA KINGS DISTRICT HOSPITAL,07/01/2008,06/30/2009,Fresno,District,Management & Supervision,66727,4.51
30957,2013,106100797.0,ADVENTIST MEDICAL CENTER - REEDLEY,01/01/2013,12/31/2013,Fresno,Non-Profit,Management & Supervision,23891,1.38
1453,2009,106190053.0,ST. MARY MEDICAL CENTER,07/01/2008,06/30/2009,Los Angeles,Non-Profit,Management & Supervision,155698,1.92
24140,2012,106190053.0,ST. MARY MEDICAL CENTER - LONG BEACH,07/01/2011,06/30/2012,Los Angeles,Non-Profit,Management & Supervision,133792,1.87
9089,2010,106190053.0,ST. MARY MEDICAL CENTER - LOS ANGELES,07/01/2009,06/30/2010,Los Angeles,Non-Profit,Management & Supervision,142415,1.80
2272,2009,106190517.0,TARZANA MEDICAL CENTER,01/01/2009,12/31/2009,Los Angeles,Investor,Management & Supervision,136159,1.75
9888,2010,106190517.0,PROVIDENCE TARZANA MEDICAL CENTER,01/01/2010,12/31/2010,Los Angeles,Non-Profit,Management & Supervision,128766,1.63
10228,2010,106190687.0,SANTA MONICA-UCLA MEDICAL CENTER & ORTHOPAEDIC...,07/01/2009,06/30/2010,Los Angeles,Non-Profit,Management & Supervision,251646,2.61
2612,2009,106190687.0,SANTA MONICA-UCLA MEDICAL CENTER& ORTHOPAEDIC ...,07/01/2008,06/30/2009,Los Angeles,Non-Profit,Management & Supervision,199849,2.14
18275,2011,106194967.0,STAR VIEW ADOLESCENT PSYCHIATRIC HEALTH FACILI...,01/01/2011,12/31/2011,Los Angeles,Investor,Management & Supervision,4511,0.90
3156,2009,106194967.0,STAR VIEW ADOLESCENT PSYCHIATRIC HEALTH FACILI...,01/01/2009,12/31/2009,Los Angeles,Investor,Management & Supervision,4398,0.92
3445,2009,106240942.0,MERCY MEDICAL CENTER MERCED-COMMUNITY CAMPUS,07/01/2008,06/30/2009,Merced,Non-Profit,Management & Supervision,126470,1.73
11078,2010,106240942.0,MERCY MEDICAL CENTER MERCED - COMMUNITY CAMPUS,07/01/2009,06/30/2010,Merced,Non-Profit,Management & Supervision,157445,2.12
26435,2012,106301127.0,KINDRED HOSPITAL BREA,01/01/2012,12/31/2012,Orange,Investor,Management & Supervision,77667,2.78
3768,2009,106301127.0,KINDRED HOSPITAL - BREA,01/01/2009,12/31/2009,Orange,Investor,Management & Supervision,36632,1.86
18955,2011,106301175.0,FOUNTAIN VALLEY REGIONAL HOSPITAL& MEDICAL CEN...,01/01/2011,12/31/2011,Orange,Investor,Management & Supervision,122392,1.06
3836,2009,106301175.0,FOUNTAIN VALLEY REGIONAL HOSPITAL& MEDICAL CEN...,01/01/2009,12/31/2009,Orange,Investor,Management & Supervision,132635,1.14
18972,2011,106301188.0,WESTERN MEDICAL CENTER - ANAHEIM,01/01/2011,12/31/2011,Orange,Investor,Management & Supervision,73679,1.22
3853,2009,106301188.0,WESTERN MEDICAL CENTER-ANAHEIM,01/01/2009,12/31/2009,Orange,Investor,Management & Supervision,72446,1.14
26792,2012,106301380.0,KINDRED HOSPITAL WESTMINSTER,01/01/2012,12/31/2012,Orange,Investor,Management & Supervision,133271,3.58
4142,2009,106301380.0,KINDRED HOSPITAL - WESTMINSTER,01/01/2009,12/31/2009,Orange,Investor,Management & Supervision,101055,2.80
4159,2009,106301566.0,WESTERN MEDICAL CENTER-SANTA ANA,01/01/2009,12/31/2009,Orange,Investor,Management & Supervision,196704,3.64
19261,2011,106301566.0,WESTERN MEDICAL CENTER - SANTA ANA,01/01/2011,12/31/2011,Orange,Investor,Management & Supervision,195833,4.09
19397,2011,106314029.0,TELECARE PLACER COUNTY - PHF,07/01/2010,06/30/2011,Placer,Investor,Management & Supervision,5468,1.24
4312,2009,106314029.0,TELECARE PLACER COUNTY P.H.F,07/01/2008,06/30/2009,Placer,Investor,Management & Supervision,5880,1.34
12217,2010,106334068.0,SOUTHWEST HEALTHCARE SYSTEM - MURRIETA,01/01/2010,12/31/2010,Riverside,Investor,Management & Supervision,133137,1.41
4635,2009,106334068.0,SOUTHWEST HEALTHCARE SYSTEM-MURRIETA,01/01/2009,12/31/2009,Riverside,Investor,Management & Supervision,227478,2.44
5060,2009,106361274.0,KINDRED HOSPITAL - ONTARIO,01/01/2009,12/31/2009,San Bernardino,Investor,Management & Supervision,36893,1.28
27744,2012,106361274.0,KINDRED HOSPITAL ONTARIO,01/01/2012,12/31/2012,San Bernardino,Investor,Management & Supervision,104051,3.70
12727,2010,106361343.0,ST. MARY MEDICAL CENTER - APPLE VALLEY,07/01/2009,06/30/2010,San Bernardino,Non-Profit,Management & Supervision,168867,1.78
5145,2009,106361343.0,ST. MARY MEDICAL CENTER,07/01/2008,06/30/2009,San Bernardino,Non-Profit,Management & Supervision,165918,1.93
5570,2009,106370771.0,SCRIPPS MEMORIAL HOSPITAL-LA JOLLA,10/01/2008,09/30/2009,San Diego,Non-Profit,Management & Supervision,262200,2.47
20673,2011,106370771.0,SCRIPPS MEMORIAL HOSPITAL - LA JOLLA,10/01/2010,09/30/2011,San Diego,Non-Profit,Management & Supervision,272932,2.66
35684,2013,106370782.0,UNIVERSITY OF CALIFORNIA SAN DIEGO MEDICAL CENTER,07/01/2012,06/30/2013,San Diego,Non-Profit,Management & Supervision,798056,2.87
5604,2009,106370782.0,UNIVERSITY OF CALIF - SAN DIEGO MEDICAL CENTER,07/01/2008,06/30/2009,San Diego,Non-Profit,Management & Supervision,719772,3.14
21744,2011,106434218.0,KAISER PERMANENTE - PHF - SANTA CLARA,01/01/2011,12/31/2011,Santa Clara,Non-Profit,Management & Supervision,0,0.00
14206,2010,106434218.0,KAISER PERMANENTE P.H.F.- SANTA CLARA,11/16/2010,12/31/2010,Santa Clara,Non-Profit,Management & Supervision,0,0.00
29308,2012,106434218.0,KAISER PERMANENTE P.H.F. - SANTA CLARA,01/01/2012,12/31/2012,Santa Clara,Non-Profit,Management & Supervision,0,0.00
36686,2013,106434218.0,KAISER PERMANENTE P.H.F.-SANTA CLARA,01/01/2013,12/31/2013,Santa Clara,Non-Profit,Management & Supervision,1744,0.25

In [14]:
#5. DATA TYPES CORRECTION:
# - facility number should be int64
staffing_df['Facility Number']=staffing_df['Facility Number'].astype('int64')
staffing_df.dtypes

Year                                           int64
Facility Number                                int64
Facility Name                                 object
Begin Date                                    object
End Date                                      object
County Name                                   object
Type of Control                               object
Hours Type                                    object
Productive Hours                               int64
Productive Hours per Adjusted Patient Day    float64
dtype: object

In [15]:
#6. RESET THE INDEX
staffing_df.reset_index(drop=True, inplace=True)
staffing_df

,Year,Facility Number,Facility Name,Begin Date,End Date,County Name,Type of Control,Hours Type,Productive Hours,Productive Hours per Adjusted Patient Day
0,2009,106010735,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Management & Supervision,63558,1.17
1,2009,106010735,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Technician & Specialist,163706,3.02
2,2009,106010735,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Registered Nurse,180034,3.32
3,2009,106010735,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Licensed Vocational Nurse,22323,0.41
4,2009,106010735,ALAMEDA HOSPITAL,07/01/2008,06/30/2009,Alameda,District,Aides & Orderlies,97205,1.79
...,...,...,...,...,...,...,...,...,...,...
37514,2013,106580996,RIDEOUT MEMORIAL HOSPITAL,07/01/2012,06/30/2013,Yuba,Non-Profit,Ancillary Cost Centers,769308,9.46
37515,2013,106580996,RIDEOUT MEMORIAL HOSPITAL,07/01/2012,06/30/2013,Yuba,Non-Profit,Education Cost Centers,0,0.00
37516,2013,106580996,RIDEOUT MEMORIAL HOSPITAL,07/01/2012,06/30/2013,Yuba,Non-Profit,General Services Cost Centers,250731,3.08
37517,2013,106580996,RIDEOUT MEMORIAL HOSPITAL,07/01/2012,06/30/2013,Yuba,Non-Profit,Fiscal Services Cost Centers,152364,1.87
37518,2013,106580996,RIDEOUT MEMORIAL HOSPITAL,07/01/2012,06/30/2013,Yuba,Non-Profit,Administrative Services Cost Centers,241249,2.97

In [16]:
#7. select columns for final upload file
staffing_df_for_import = staffing_df[['Facility Number', 'Year','Hours Type', 'Productive Hours', 
                           'Productive Hours per Adjusted Patient Day' ]]
staffing_df_for_import.head()

,Facility Number,Year,Hours Type,Productive Hours,Productive Hours per Adjusted Patient Day
0,106010735,2009,Management & Supervision,63558,1.17
1,106010735,2009,Technician & Specialist,163706,3.02
2,106010735,2009,Registered Nurse,180034,3.32
3,106010735,2009,Licensed Vocational Nurse,22323,0.41
4,106010735,2009,Aides & Orderlies,97205,1.79

In [17]:
#8.Rename columns:
staffing_df_for_import = staffing_df_for_import.rename(columns={'Facility Number':'hospital_id',
                                          'Year': 'year',
                                          'Hours Type': 'staff_group',
                                          'Productive Hours': 'prod_hrs',
                                          'Productive Hours per Adjusted Patient Day': 'prodhrs_adjptday'
                                           })
# reset index to hospital_id
staffing_df_for_import.head()

   hospital_id  year                staff_group  prod_hrs  prodhrs_adjptday
0    106010735  2009   Management & Supervision     63558              1.17
1    106010735  2009    Technician & Specialist    163706              3.02
2    106010735  2009           Registered Nurse    180034              3.32
3    106010735  2009  Licensed Vocational Nurse     22323              0.41
4    106010735  2009          Aides & Orderlies     97205              1.79

### BRIDGE FOR JOINING DATA

In [20]:
# download the bridge file
bridge_file = "Resources/212018-odpcrosswalkfinal.csv"
bridge_df = pd.read_csv(bridge_file)

In [21]:
bridge_df.head()

,LICENSE_TYPE_DESC,LICENSE_CATEGORY_DESC,FACILITY_STATUS_DESC,LICENSE_NUM,LICENSEE_NAME,PARENT_OSHPD_ID,OSHPD_ID,PERM_ID,FACILITY_NUM,FACID,...,LA_COUNTY_SPA_CODE,CONGRESSIONAL_DISTRICT_NUM,ASSEMBLY_DISTRICT_NUM,SENATE_DISTRICT_NUM,MSSA_CODE,MSSA_DESIGNATION,CENSUS_TRACT_ID,CENSUS_BLOCK_ID,LONGITUDE,LATITUDE
0,Hospital,General Acute Care Hospital,Open,140000002.0,ALAMEDA HEALTH SYSTEM,106010735,106010735,11210,10735,140000686.0,...,NaN,13.0,18.0,9.0,2e,Urban,6.001428e+09,6.001429e+13,-122.253991,37.76266
1,Hospital,General Acute Care Hospital,Open,140000002.0,ALAMEDA HEALTH SYSTEM,106010735,106010735,11210,10735,140000011.0,...,NaN,13.0,18.0,9.0,2e,Urban,6.001428e+09,6.001429e+13,-122.253991,37.76266
2,Hospital,General Acute Care Hospital,Open,140000004.0,SUTTER EAST BAY HOSPITALS,106010739,106010739,11214,10739,140000012.0,...,NaN,13.0,15.0,9.0,2b,Urban,6.001424e+09,6.001424e+13,-122.257430,37.85645
3,Hospital,General Acute Care Hospital,Open,140000015.0,CHILDREN'S HOSPITAL & RESEARCH CENTER OAKLAND,106010776,106010776,11242,10776,140000014.0,...,NaN,13.0,15.0,9.0,2c,Urban,6.001401e+09,6.001401e+13,-122.267470,37.83722
4,Hospital,Chemical Dep. Recovery Hospital,Closed,140000272.0,"ADOLESCENT TREATMENT CENTERS, INC.",106010782,106010782,11244,10782,140000380.0,...,NaN,13.0,15.0,9.0,2b,Urban,6.001401e+09,6.001401e+13,NaN,NaN

In [22]:
hospital_bridge=bridge_df[bridge_df.LICENSE_TYPE_DESC =='Hospital']
hospital_bridge.nunique()

LICENSE_TYPE_DESC               1
LICENSE_CATEGORY_DESC           3
FACILITY_STATUS_DESC            3
LICENSE_NUM                   305
LICENSEE_NAME                 223
PARENT_OSHPD_ID               308
OSHPD_ID                      354
PERM_ID                       354
FACILITY_NUM                  354
FACID                         509
FACILITY_LEVEL_DESC             3
FACILITY_NAME                 352
FACNAME                       464
CONSOLIDATED_NAME               2
DBA_ADDRESS                   348
DBA_CITY                      200
DBA_ZIP_CODE                  267
COUNTY_NAME                    49
COUNTY_FIPS_CODE               48
LA_COUNTY_SPA_CODE              8
CONGRESSIONAL_DISTRICT_NUM     52
ASSEMBLY_DISTRICT_NUM          78
SENATE_DISTRICT_NUM            40
MSSA_CODE                     218
MSSA_DESIGNATION                3
CENSUS_TRACT_ID               314
CENSUS_BLOCK_ID               338
LONGITUDE                     337
LATITUDE                      336
dtype: int64

In [23]:
hospital_bridge = hospital_bridge[['OSHPD_ID', 'FACILITY_NUM', 'FACILITY_NAME', 'FACILITY_STATUS_DESC','DBA_ADDRESS', 'DBA_CITY', 'DBA_ZIP_CODE',
                                   'COUNTY_NAME', 'COUNTY_FIPS_CODE', 'LONGITUDE', 'LATITUDE']]
hospital_bridge.head()

,OSHPD_ID,FACILITY_NUM,FACILITY_NAME,FACILITY_STATUS_DESC,DBA_ADDRESS,DBA_CITY,DBA_ZIP_CODE,COUNTY_NAME,COUNTY_FIPS_CODE,LONGITUDE,LATITUDE
0,106010735,10735,ALAMEDA HOSPITAL,Open,2070 CLINTON AVE,ALAMEDA,94501,ALAMEDA,1.0,-122.253991,37.76266
1,106010735,10735,ALAMEDA HOSPITAL,Open,2070 CLINTON AVE,ALAMEDA,94501,ALAMEDA,1.0,-122.253991,37.76266
2,106010739,10739,ALTA BATES SUMMIT MEDICAL CENTER-ALTA BATES CA...,Open,2450 ASHBY AVENUE,BERKELEY,94705,ALAMEDA,1.0,-122.257430,37.85645
3,106010776,10776,CHILDRENS HOSPITAL AND RESEARCH CENTER AT OAKLAND,Open,747 52ND STREET,OAKLAND,94609,ALAMEDA,1.0,-122.267470,37.83722
4,106010782,10782,THUNDER ROAD CHEMICAL DEPENDENCY RECOVERY HOSP...,Closed,390 40TH STREET,OAKLAND,94609,ALAMEDA,1.0,NaN,NaN

In [24]:
# drop duplicated rows
hospital_bridge.drop_duplicates(inplace=True)
hospital_bridge.groupby(by='DBA_ZIP_CODE').count()['FACILITY_NAME'].sort_values(ascending=False)

DBA_ZIP_CODE
94609    5
92354    4
95355    4
92123    4
96001    4
        ..
94015    1
93940    1
93930    1
93906    1
90011    1
Name: FACILITY_NAME, Length: 267, dtype: int64

In [25]:
hospital_bridge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 354 entries, 0 to 1498
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OSHPD_ID              354 non-null    int64
 1   FACILITY_NUM          354 non-null    int64
 2   FACILITY_NAME         354 non-null    object
 3   FACILITY_STATUS_DESC  354 non-null    object
 4   DBA_ADDRESS           354 non-null    object
 5   DBA_CITY              354 non-null    object
 6   DBA_ZIP_CODE          354 non-null    int64
 7   COUNTY_NAME           354 non-null    object
 8   COUNTY_FIPS_CODE      313 non-null    float64
 9   LONGITUDE             339 non-null    float64
 10  LATITUDE              339 non-null    float64
dtypes: float64(3), int64(3), object(5)
memory usage: 33.2+ KB

In [26]:
# inspect N/A values
hospital_bridge[hospital_bridge.isnull().any(axis=1)]
# drop FIPS column as we will make separate table to ensure connection between data for all
hospital_bridge.drop(["COUNTY_FIPS_CODE"],axis=1,inplace=True)
# replace N/A values in Longitude and latitude
hospital_bridge.fillna(0, inplace=True)
hospital_bridge

,OSHPD_ID,FACILITY_NUM,FACILITY_NAME,FACILITY_STATUS_DESC,DBA_ADDRESS,DBA_CITY,DBA_ZIP_CODE,COUNTY_NAME,LONGITUDE,LATITUDE
0,106010735,10735,ALAMEDA HOSPITAL,Open,2070 CLINTON AVE,ALAMEDA,94501,ALAMEDA,-122.253991,37.76266
2,106010739,10739,ALTA BATES SUMMIT MEDICAL CENTER-ALTA BATES CA...,Open,2450 ASHBY AVENUE,BERKELEY,94705,ALAMEDA,-122.257430,37.85645
3,106010776,10776,CHILDRENS HOSPITAL AND RESEARCH CENTER AT OAKLAND,Open,747 52ND STREET,OAKLAND,94609,ALAMEDA,-122.267470,37.83722
4,106010782,10782,THUNDER ROAD CHEMICAL DEPENDENCY RECOVERY HOSP...,Closed,390 40TH STREET,OAKLAND,94609,ALAMEDA,0.000000,0.00000
5,106010805,10805,EDEN MEDICAL CENTER,Closed,20103 LAKE CHABOT ROAD,CASTRO VALLEY,94546,ALAMEDA,0.000000,0.00000
...,...,...,...,...,...,...,...,...,...,...
1298,206374321,374321,VILLA CORONADO CONVALESCENT (DP/SNF),Open,233 PROSPECT PLACE,CORONADO,92118,SAN DIEGO,0.000000,0.00000
1307,206374497,374497,EDGEMOOR GERIATRIC HOSPITAL,Open,655 PARK CENTER DRIVE,SANTEE,92071,SAN DIEGO,0.000000,0.00000
1362,206413500,413500,BURLINGAME HEALTH CARE CENTER D/P SNF,Open,1100 TROUSDALE DRIVE,BURLINGAME,94010,SAN MATEO,0.000000,0.00000
1439,206462284,462284,EASTERN PLUMAS HOSPITAL-LOYALTON CAMPUS D/P SNF,Open,700 THIRD ST,LOYALTON,96118,SIERRA,0.000000,0.00000
1498,206560500,560500,OJAI MANOR CONVALESCENT HOSPITAL,Open,1306 MARICOPA HIGHWAY,OJAI,93023,VENTURA,0.000000,0.00000

In [27]:
# rename columns:
hospital_bridge = hospital_bridge.rename(columns={'OSHPD_ID':'hospital_id',
                                                   'FACILITY_NUM': 'facility_num',
                                                  'FACILITY_NAME': 'hospital_name',
                                                  'FACILITY_STATUS_DESC': 'status',
                                                   'DBA_ADDRESS': 'address',
                                                 'DBA_CITY': 'city',
                                                 'DBA_ZIP_CODE': 'zip_code',
                                                 'COUNTY_NAME': 'county',
                                                 'LONGITUDE': 'lng',
                                                  'LATITUDE': 'lat'})
hospital_bridge.set_index("hospital_id",inplace=True)
hospital_bridge

,facility_num,hospital_name,status,address,city,zip_code,county,lng,lat
hospital_id,,,,,,,,,
106010735,10735,ALAMEDA HOSPITAL,Open,2070 CLINTON AVE,ALAMEDA,94501,ALAMEDA,-122.253991,37.76266
106010739,10739,ALTA BATES SUMMIT MEDICAL CENTER-ALTA BATES CA...,Open,2450 ASHBY AVENUE,BERKELEY,94705,ALAMEDA,-122.257430,37.85645
106010776,10776,CHILDRENS HOSPITAL AND RESEARCH CENTER AT OAKLAND,Open,747 52ND STREET,OAKLAND,94609,ALAMEDA,-122.267470,37.83722
106010782,10782,THUNDER ROAD CHEMICAL DEPENDENCY RECOVERY HOSP...,Closed,390 40TH STREET,OAKLAND,94609,ALAMEDA,0.000000,0.00000
106010805,10805,EDEN MEDICAL CENTER,Closed,20103 LAKE CHABOT ROAD,CASTRO VALLEY,94546,ALAMEDA,0.000000,0.00000
...,...,...,...,...,...,...,...,...,...
206374321,374321,VILLA CORONADO CONVALESCENT (DP/SNF),Open,233 PROSPECT PLACE,CORONADO,92118,SAN DIEGO,0.000000,0.00000
206374497,374497,EDGEMOOR GERIATRIC HOSPITAL,Open,655 PARK CENTER DRIVE,SANTEE,92071,SAN DIEGO,0.000000,0.00000
206413500,413500,BURLINGAME HEALTH CARE CENTER D/P SNF,Open,1100 TROUSDALE DRIVE,BURLINGAME,94010,SAN MATEO,0.000000,0.00000
206462284,462284,EASTERN PLUMAS HOSPITAL-LOYALTON CAMPUS D/P SNF,Open,700 THIRD ST,LOYALTON,96118,SIERRA,0.000000,0.00000
206560500,560500,OJAI MANOR CONVALESCENT HOSPITAL,Open,1306 MARICOPA HIGHWAY,OJAI,93023,VENTURA,0.000000,0.00000

In [28]:
# source: https://data.chhs.ca.gov/dataset/licensed-healthcare-facility-listing/resource/641c5557-7d65-4379-8fea-6b7dedbda40b
# download the bridge file
bridge_file2 = "Resources/current-healthcare-facility-listing.csv"
bridge_df2 = pd.read_csv(bridge_file2)

In [29]:
bridge_df2.head()

,OSHPD_ID,FACILITY_NAME,LICENSE_NUM,FACILITY_LEVEL_DESC,DBA_ADDRESS1,DBA_CITY,DBA_ZIP_CODE,COUNTY_CODE,COUNTY_NAME,ER_SERVICE_LEVEL_DESC,TOTAL_NUMBER_BEDS,FACILITY_STATUS_DESC,FACILITY_STATUS_DATE,LICENSE_TYPE_DESC,LICENSE_CATEGORY_DESC,LATITUDE,LONGITUDE
0,106010735,ALAMEDA HOSPITAL,140000002,Parent Facility,2070 Clinton Ave,Alameda,94501,1,Alameda,Emergency - Basic,101,Open,1946-01-01,Hospital,General Acute Care Hospital,37.76266,-122.253991
1,106010739,ALTA BATES SUMMIT MEDICAL CENTER-ALTA BATES CA...,140000004,Parent Facility,2450 Ashby Ave,Berkeley,94705,1,Alameda,Emergency - Basic,339,Open,1946-01-02,Hospital,General Acute Care Hospital,37.85645,-122.257430
2,106010776,UCSF BENIOFF CHILDREN'S HOSPITAL OAKLAND,140000015,Parent Facility,747 52ND ST,OAKLAND,94609,1,Alameda,Emergency - Basic,223,Open,1946-01-01,Hospital,General Acute Care Hospital,37.83722,-122.267470
3,106010811,FAIRMONT HOSPITAL,140000046,Consolidated Facility,15400 Foothill Blvd,San Leandro,94578,1,Alameda,None,109,Open,1953-07-01,Hospital,General Acute Care Hospital,37.70648,-122.118190
4,106010844,ALTA BATES SUMMIT MEDICAL CENTER-HERRICK CAMPUS,140000004,Consolidated Facility,2001 DWIGHT WAY,BERKELEY,94704,1,Alameda,None,68,Open,1946-01-01,Hospital,General Acute Care Hospital,37.86373,-122.269840

In [30]:
hospital_bridge2=bridge_df2[bridge_df2.LICENSE_TYPE_DESC =='Hospital']
hospital_bridge2.nunique()

OSHPD_ID                 527
FACILITY_NAME            525
LICENSE_NUM              440
FACILITY_LEVEL_DESC        3
DBA_ADDRESS1             523
DBA_CITY                 323
DBA_ZIP_CODE             374
COUNTY_CODE               57
COUNTY_NAME               57
ER_SERVICE_LEVEL_DESC      5
TOTAL_NUMBER_BEDS        276
FACILITY_STATUS_DESC       2
FACILITY_STATUS_DATE     440
LICENSE_TYPE_DESC          1
LICENSE_CATEGORY_DESC      4
LATITUDE                 522
LONGITUDE                523
dtype: int64

In [31]:
hospital_bridge2['FACILITY_STATUS_DESC'].unique()

array(['Open', 'Suspense'], dtype=object)

In [32]:
hospital_bridge2 = hospital_bridge2[['OSHPD_ID', 'FACILITY_NAME', 'FACILITY_STATUS_DESC', 'FACILITY_LEVEL_DESC','DBA_ADDRESS1', 'DBA_CITY', 'DBA_ZIP_CODE',
                                   'COUNTY_NAME', 'COUNTY_CODE', 'LICENSE_CATEGORY_DESC','LONGITUDE', 'LATITUDE']]
hospital_bridge2.head()

,OSHPD_ID,FACILITY_NAME,FACILITY_STATUS_DESC,FACILITY_LEVEL_DESC,DBA_ADDRESS1,DBA_CITY,DBA_ZIP_CODE,COUNTY_NAME,COUNTY_CODE,LICENSE_CATEGORY_DESC,LONGITUDE,LATITUDE
0,106010735,ALAMEDA HOSPITAL,Open,Parent Facility,2070 Clinton Ave,Alameda,94501,Alameda,1,General Acute Care Hospital,-122.253991,37.76266
1,106010739,ALTA BATES SUMMIT MEDICAL CENTER-ALTA BATES CA...,Open,Parent Facility,2450 Ashby Ave,Berkeley,94705,Alameda,1,General Acute Care Hospital,-122.257430,37.85645
2,106010776,UCSF BENIOFF CHILDREN'S HOSPITAL OAKLAND,Open,Parent Facility,747 52ND ST,OAKLAND,94609,Alameda,1,General Acute Care Hospital,-122.267470,37.83722
3,106010811,FAIRMONT HOSPITAL,Open,Consolidated Facility,15400 Foothill Blvd,San Leandro,94578,Alameda,1,General Acute Care Hospital,-122.118190,37.70648
4,106010844,ALTA BATES SUMMIT MEDICAL CENTER-HERRICK CAMPUS,Open,Consolidated Facility,2001 DWIGHT WAY,BERKELEY,94704,Alameda,1,General Acute Care Hospital,-122.269840,37.86373

In [33]:
# drop duplicated rows
hospital_bridge2.drop_duplicates(inplace=True)
hospital_bridge2.groupby(by='DBA_ZIP_CODE').count()['FACILITY_NAME'].sort_values(ascending=False)

DBA_ZIP_CODE
96001    6
93720    5
92123    5
95817    4
95355    4
        ..
93906    1
93930    1
94015    1
94025    1
90011    1
Name: FACILITY_NAME, Length: 374, dtype: int64

In [34]:
hospital_bridge2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 527 entries, 0 to 1875
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   OSHPD_ID               527 non-null    int64
 1   FACILITY_NAME          527 non-null    object
 2   FACILITY_STATUS_DESC   527 non-null    object
 3   FACILITY_LEVEL_DESC    527 non-null    object
 4   DBA_ADDRESS1           527 non-null    object
 5   DBA_CITY               527 non-null    object
 6   DBA_ZIP_CODE           527 non-null    int64
 7   COUNTY_NAME            527 non-null    object
 8   COUNTY_CODE            527 non-null    int64
 9   LICENSE_CATEGORY_DESC  527 non-null    object
 10  LONGITUDE              527 non-null    float64
 11  LATITUDE               527 non-null    float64
dtypes: float64(2), int64(3), object(7)
memory usage: 53.5+ KB

In [35]:
# inspect N/A values
hospital_bridge2[hospital_bridge2.isnull().any(axis=1)]

Empty DataFrame
Columns: [OSHPD_ID, FACILITY_NAME, FACILITY_STATUS_DESC, FACILITY_LEVEL_DESC, DBA_ADDRESS1, DBA_CITY, DBA_ZIP_CODE, COUNTY_NAME, COUNTY_CODE, LICENSE_CATEGORY_DESC, LONGITUDE, LATITUDE]
Index: []

In [36]:
hospital_bridge2.columns

Index(['OSHPD_ID', 'FACILITY_NAME', 'FACILITY_STATUS_DESC',
       'FACILITY_LEVEL_DESC', 'DBA_ADDRESS1', 'DBA_CITY', 'DBA_ZIP_CODE',
       'COUNTY_NAME', 'COUNTY_CODE', 'LICENSE_CATEGORY_DESC', 'LONGITUDE',
       'LATITUDE'],
      dtype='object')

In [37]:
# rename columns:
hospital_bridge2 = hospital_bridge2.rename(columns={'OSHPD_ID':'hospital_id',
                                                    'FACILITY_NAME': 'hospital_name',
                                                    'FACILITY_STATUS_DESC': 'status',
                                                    'FACILITY_LEVEL_DESC': 'fac_level',
                                                    'DBA_ADDRESS1': 'address',
                                                    'DBA_CITY': 'city',
                                                    'DBA_ZIP_CODE': 'zip_code',
                                                    'COUNTY_NAME': 'county',
                                                    'COUNTY_CODE': 'county_code',
                                                    'LICENSE_CATEGORY_DESC': 'category',
                                                    'LONGITUDE': 'lng',
                                                    'LATITUDE': 'lat'})
#hospital_bridge.set_index("hospital_id",inplace=True)
hospital_bridge2

,hospital_id,hospital_name,status,fac_level,address,city,zip_code,county,county_code,category,lng,lat
0,106010735,ALAMEDA HOSPITAL,Open,Parent Facility,2070 Clinton Ave,Alameda,94501,Alameda,1,General Acute Care Hospital,-122.253991,37.762660
1,106010739,ALTA BATES SUMMIT MEDICAL CENTER-ALTA BATES CA...,Open,Parent Facility,2450 Ashby Ave,Berkeley,94705,Alameda,1,General Acute Care Hospital,-122.257430,37.856450
2,106010776,UCSF BENIOFF CHILDREN'S HOSPITAL OAKLAND,Open,Parent Facility,747 52ND ST,OAKLAND,94609,Alameda,1,General Acute Care Hospital,-122.267470,37.837220
3,106010811,FAIRMONT HOSPITAL,Open,Consolidated Facility,15400 Foothill Blvd,San Leandro,94578,Alameda,1,General Acute Care Hospital,-122.118190,37.706480
4,106010844,ALTA BATES SUMMIT MEDICAL CENTER-HERRICK CAMPUS,Open,Consolidated Facility,2001 DWIGHT WAY,BERKELEY,94704,Alameda,1,General Acute Care Hospital,-122.269840,37.863730
...,...,...,...,...,...,...,...,...,...,...,...,...
1718,206420552,LOMPOC VALLEY MEDICAL CENTER COMPREHENSIVE CAR...,Open,Distinct Part Facility,216 N 3RD ST,LOMPOC,93436,Santa Barbara,42,General Acute Care Hospital,-120.445070,34.640760
1791,206462284,EASTERN PLUMAS HOSPITAL-LOYALTON CAMPUS D/P SNF,Open,Distinct Part Facility,3rd St,Loyalton,96118,Sierra,46,General Acute Care Hospital,-120.244208,39.676759
1829,206501352,OAKDALE NURSING AND REHABILITATION CENTER,Open,Distinct Part Facility,275 S OAK AVE,OAKDALE,95361,Stanislaus,50,General Acute Care Hospital,-120.860730,37.758830
1864,206551035,ADVENTIST HEALTH SONORA - D/P SNF (UNIT 6 AND 7),Open,Distinct Part Facility,179 S. FAIRVIEW LANE,SONORA,95370,Tuolumne,55,General Acute Care Hospital,-120.390840,37.979607
1875,206560500,OJAI VALLEY COMMUNITY SKILLED NURSING FACILITY,Open,Distinct Part Facility,1306 MARICOPA HWY,OJAI,93023,Ventura,56,General Acute Care Hospital,-119.263110,34.442210

In [39]:
hospital_bridge2

,hospital_id,hospital_name,status,fac_level,address,city,zip_code,county,county_code,category,lng,lat
0,106010735,ALAMEDA HOSPITAL,Open,Parent Facility,2070 CLINTON AVE,ALAMEDA,94501,ALAMEDA,1,General Acute Care Hospital,-122.253991,37.762660
1,106010739,ALTA BATES SUMMIT MEDICAL CENTER-ALTA BATES CA...,Open,Parent Facility,2450 ASHBY AVE,BERKELEY,94705,ALAMEDA,1,General Acute Care Hospital,-122.257430,37.856450
2,106010776,UCSF BENIOFF CHILDREN'S HOSPITAL OAKLAND,Open,Parent Facility,747 52ND ST,OAKLAND,94609,ALAMEDA,1,General Acute Care Hospital,-122.267470,37.837220
3,106010811,FAIRMONT HOSPITAL,Open,Consolidated Facility,15400 FOOTHILL BLVD,SAN LEANDRO,94578,ALAMEDA,1,General Acute Care Hospital,-122.118190,37.706480
4,106010844,ALTA BATES SUMMIT MEDICAL CENTER-HERRICK CAMPUS,Open,Consolidated Facility,2001 DWIGHT WAY,BERKELEY,94704,ALAMEDA,1,General Acute Care Hospital,-122.269840,37.863730
...,...,...,...,...,...,...,...,...,...,...,...,...
1718,206420552,LOMPOC VALLEY MEDICAL CENTER COMPREHENSIVE CAR...,Open,Distinct Part Facility,216 N 3RD ST,LOMPOC,93436,SANTA BARBARA,42,General Acute Care Hospital,-120.445070,34.640760
1791,206462284,EASTERN PLUMAS HOSPITAL-LOYALTON CAMPUS D/P SNF,Open,Distinct Part Facility,3RD ST,LOYALTON,96118,SIERRA,46,General Acute Care Hospital,-120.244208,39.676759
1829,206501352,OAKDALE NURSING AND REHABILITATION CENTER,Open,Distinct Part Facility,275 S OAK AVE,OAKDALE,95361,STANISLAUS,50,General Acute Care Hospital,-120.860730,37.758830
1864,206551035,ADVENTIST HEALTH SONORA - D/P SNF (UNIT 6 AND 7),Open,Distinct Part Facility,179 S. FAIRVIEW LANE,SONORA,95370,TUOLUMNE,55,General Acute Care Hospital,-120.390840,37.979607
1875,206560500,OJAI VALLEY COMMUNITY SKILLED NURSING FACILITY,Open,Distinct Part Facility,1306 MARICOPA HWY,OJAI,93023,VENTURA,56,General Acute Care Hospital,-119.263110,34.442210

In [40]:

hospital_bridge2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 527 entries, 0 to 1875
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   hospital_id    527 non-null    int64
 1   hospital_name  527 non-null    object
 2   status         527 non-null    object
 3   fac_level      527 non-null    object
 4   address        527 non-null    object
 5   city           527 non-null    object
 6   zip_code       527 non-null    int64
 7   county         527 non-null    object
 8   county_code    527 non-null    int64
 9   category       527 non-null    object
 10  lng            527 non-null    float64
 11  lat            527 non-null    float64
 12  facility_num   527 non-null    int64
dtypes: float64(2), int64(4), object(7)
memory usage: 57.6+ KB

In [82]:
county_df = hospital_bridge2[['county', 'county_code']].copy()
county_df.drop_duplicates(keep='first', inplace=True)
county_df.sort_values(by='county_code', inplace= True)
county_df.reset_index(drop=True, inplace = True)
county_df

             county  county_code
0           ALAMEDA            1
1            AMADOR            3
2             BUTTE            4
3         CALAVERAS            5
4            COLUSA            6
5      CONTRA COSTA            7
6         DEL NORTE            8
7         EL DORADO            9
8            FRESNO           10
9             GLENN           11
10         HUMBOLDT           12
11         IMPERIAL           13
12             INYO           14
13             KERN           15
14            KINGS           16
15             LAKE           17
16           LASSEN           18
17      LOS ANGELES           19
18           MADERA           20
19            MARIN           21
20         MARIPOSA           22
21        MENDOCINO           23
22           MERCED           24
23            MODOC           25
24             MONO           26
25         MONTEREY           27
26             NAPA           28
27           NEVADA           29
28           ORANGE           30
29           PLACER           31
30           PLUMAS           32
31        RIVERSIDE           33
32       SACRAMENTO           34
33       SAN BENITO           35
34   SAN BERNARDINO           36
35        SAN DIEGO           37
36    SAN FRANCISCO           38
37      SAN JOAQUIN           39
38  SAN LUIS OBISPO           40
39        SAN MATEO           41
40    SANTA BARBARA           42
41      SANTA CLARA           43
42       SANTA CRUZ           44
43           SHASTA           45
44           SIERRA           46
45         SISKIYOU           47
46           SOLANO           48
47           SONOMA           49
48       STANISLAUS           50
49           SUTTER           51
50           TEHAMA           52
51          TRINITY           53
52           TULARE           54
53         TUOLUMNE           55
54          VENTURA           56
55             YOLO           57
56             YUBA           58

# Comparison of Hospital_id between the files

In [41]:
staffing_id = list(staffing_df_for_import['hospital_id'].unique())
bridge_id = list(hospital_bridge.index)
bridge_id2 = list(hospital_bridge2['hospital_id'].unique())

diff_ids = list(set(staffing_id)-set(bridge_id))
diff_ids
print(f'There are {len(diff_ids)} hospital_ids in staffing_df that are not included in hospital_bridge df')

There are 179 hospital_ids in staffing_df that are not included in hospital_bridge df

In [42]:
diff_ids2 = list(set(staffing_id)-set(bridge_id2))
len(diff_ids2)

42

In [43]:
diff_ids2

[106380929,
 106491267,
 106190468,
 106190854,
 106100745,
 106361105,
 106370705,
 106160787,
 106190712,
 106551061,
 106015000,
 106150808,
 106010782,
 106154147,
 106380964,
 106431013,
 106191014,
 106490919,
 106230949,
 106304426,
 106040875,
 106190762,
 106410804,
 106010805,
 106484028,
 106160702,
 106190784,
 106191300,
 106374084,
 106560838,
 106301132,
 106281297,
 106301781,
 106160725,
 106190430,
 106190307,
 106370787,
 106010856,
 106010858,
 106514037,
 106190455,
 106070904]

In [91]:
columns_name = staffing_df.columns
missing_ids_df = pd.DataFrame(columns = columns_name)
for i in diff_ids2:
    missing_ids_df = missing_ids_df.append(staffing_df.loc[staffing_df['Facility Number'] == i])
print(missing_ids_df.nunique())
missing_ids_df.drop(columns=['Year', 'Begin Date', 'End Date', 'Type of Control', 'Hours Type', 'Productive Hours', 
                     'Productive Hours per Adjusted Patient Day'], inplace=True)
missing_ids_df.drop_duplicates(subset=['Facility Number'], keep='last', inplace = True)
missing_ids_df = missing_ids_df.rename(columns={'Facility Number':'hospital_id',
                                                'Facility Name': 'hospital_name',
                                                'County Name': 'county'})
missing_ids_df['hospital_name'] = missing_ids_df['hospital_name'].str.upper()
missing_ids_df['county'] = missing_ids_df['county'].str.upper()
missing_ids_df.reset_index(drop=True, inplace=True)
missing_ids_df = missing_ids_df.merge(county_df, how ='left')
missing_ids_df

Year                                            5
Facility Number                                42
Facility Name                                  42
Begin Date                                     14
End Date                                       19
County Name                                    20
Type of Control                                 5
Hours Type                                     17
Productive Hours                             1884
Productive Hours per Adjusted Patient Day     808
dtype: int64

,hospital_id,hospital_name,county,county_code
0,106380929,CALIFORNIA PACIFIC MEDICAL CENTER,SAN FRANCISCO,38
1,106491267,SONOMA DEVELOPMENTAL CENTER,SONOMA,49
2,106190468,PROMISE HOSPITAL OF EAST LOS ANGELES,LOS ANGELES,19
3,106190854,LOS ANGELES METROPOLITAN MEDICAL CENTER,LOS ANGELES,19
4,106100745,KINGSBURG MEDICAL HOSPITAL,FRESNO,10
5,106361105,BARSTOW COMMUNITY HOSPITAL,SAN BERNARDINO,36
6,106370705,FALLBROOK HOSPITAL DISTRICT,SAN DIEGO,37
7,106160787,CENTRAL VALLEY GENERAL HOSPITAL,KINGS,16
8,106190712,SHRINERS HOSPITAL FOR CHILDREN- LOS ANGELES,LOS ANGELES,19
9,106551061,TUOLUMNE GENERAL MEDICAL FACILITY,TUOLUMNE,55
10,106015000,KAISER FOUNDATION NORTHERN REGION,ALAMEDA,1
11,106150808,TEHACHAPI HOSPITAL,KERN,15
12,106010782,THUNDER ROAD CHEMICAL DEPENDENCY RECOVERY HOSP...,ALAMEDA,1
13,106154147,CRESTWOOD PSYCHIATRIC HEALTH FACILITY,KERN,15
14,106380964,CALIFORNIA PACIFIC MEDICAL CTN-ST. LUKE'S CAMPUS,SAN FRANCISCO,38
15,106431013,AGNEWS STATE HOSPITAL,SANTA CLARA,43
16,106191014,LANTERMAN STATE HOSPITAL AND DEVELOPMENTAL CENTER,LOS ANGELES,19
17,106490919,SUTTER MEDICAL CENTER OF SANTA ROSA,SONOMA,49
18,106230949,FRANK R HOWARD MEMORIAL HOSPITAL,MENDOCINO,23
19,106304426,ROYALE' MISSION VIEJO - PHF,ORANGE,30
20,106040875,FEATHER RIVER HOSPITAL,BUTTE,4
21,106190762,ST. VINCENT MEDICAL CENTER,LOS ANGELES,19
22,106410804,KAISER FOUNDATION HOSPITAL - REDWOOD CITY,SAN MATEO,41
23,106010805,EDEN MEDICAL CENTER,ALAMEDA,1
24,106484028,TELECARE SOLANO PSYCHIATRIC HEALTH FACILITY,SOLANO,48
25,106160702,CORCORAN DISTRICT HOSPITAL,KINGS,16
26,106190784,TEMPLE COMMUNITY HOSPITAL,LOS ANGELES,19
27,106191300,KAISER FOUNDATION SOUTHERN REGION,LOS ANGELES,19
28,106374084,SAN DIEGO HOSPICE & PALLIATIVE CARE CTR,SAN DIEGO,37
29,106560838,PACIFIC SHORES HOSPITAL,VENTURA,56
30,106301132,KAISER FOUNDATION HOSPITAL - ANAHEIM,ORANGE,30
31,106281297,NELSON M HOLDERMAN MEMORIAL HOSPITAL,NAPA,28
32,106301781,FAIRVIEW DEVELOPMENTAL CENTER,ORANGE,30
33,106160725,HANFORD COMMUNITY HOSPITAL,KINGS,16
34,106190430,KAISER FOUNDATION HOSPITAL - BELLFLOWER,LOS ANGELES,19
35,106190307,PACIFIC ALLIANCE MEDICAL CENTER,LOS ANGELES,19
36,106370787,PROMISE HOSPITAL OF SAN DIEGO,SAN DIEGO,37
37,106010856,KAISER FOUNDATION HOSPITAL - OAKLAND CAMPUS,ALAMEDA,1
38,106010858,KAISER FOUNDATION HOSPITAL - HAYWARD,ALAMEDA,1
39,106514037,SEQUOIA PSYCHIATRIC CENTER,SUTTER,51
40,106190455,LANCASTER COMMUNITY HOSPITAL,LOS ANGELES,19
41,106070904,DOCTORS MEDICAL CENTER - SAN PABLO,CONTRA COSTA,7

In [120]:
# merge bridges to the final bridge:
hospital_bridge_final=pd.concat([hospital_bridge2, missing_ids_df])
print(hospital_bridge_final.info())
# check for duplicates
print(hospital_bridge_final.nunique())
# replace Na values:
values = {'status':'inactive',
          'fac_level':'missing data', 
          'address':'missing data', 
          'city': 'missing data',
          'zip_code':0,
          'category':'missing data',
          'lng':0,
          'lat':0}
hospital_bridge_final.fillna(value=values, inplace=True)
# # apply uppercase to columns: 'hospital_name', 'address', 'city', 'county':
# source: https://www.geeksforgeeks.org/apply-uppercase-to-a-column-in-pandas-dataframe/
hospital_bridge_final['hospital_name'] = hospital_bridge_final['hospital_name'].str.upper()
hospital_bridge_final['address'] = hospital_bridge_final['address'].str.upper()
hospital_bridge_final['city'] = hospital_bridge_final['city'].str.upper()
hospital_bridge_final['county'] = hospital_bridge_final['county'].str.upper()

# add facility num as new column and extract it from "hospital_id":
hospital_bridge_final['facility_num'] = hospital_bridge_final['hospital_id'].astype(str).str[-6:].astype('int64')

# correct the type of data in columns:
hospital_bridge_final['hospital_id']=hospital_bridge_final['hospital_id'].astype('int64')
hospital_bridge_final['zip_code']=hospital_bridge_final['zip_code'].astype('int64')

print(hospital_bridge_final.info())
print(hospital_bridge_final.nunique())
hospital_bridge_final

<class 'pandas.core.frame.DataFrame'>
Int64Index: 569 entries, 0 to 41
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   hospital_id    569 non-null    object
 1   hospital_name  569 non-null    object
 2   status         527 non-null    object
 3   fac_level      527 non-null    object
 4   address        527 non-null    object
 5   city           527 non-null    object
 6   zip_code       527 non-null    float64
 7   county         569 non-null    object
 8   county_code    569 non-null    int64
 9   category       527 non-null    object
 10  lng            527 non-null    float64
 11  lat            527 non-null    float64
 12  facility_num   527 non-null    float64
dtypes: float64(4), int64(1), object(8)
memory usage: 62.2+ KB
None
hospital_id      569
hospital_name    564
status             2
fac_level          3
address          520
city             265
zip_code         374
county            57
county_code       57
category           4
lng              523
lat              522
facility_num     527
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 569 entries, 0 to 41
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   hospital_id    569 non-null    int64
 1   hospital_name  569 non-null    object
 2   status         569 non-null    object
 3   fac_level      569 non-null    object
 4   address        569 non-null    object
 5   city           569 non-null    object
 6   zip_code       569 non-null    int64
 7   county         569 non-null    object
 8   county_code    569 non-null    int64
 9   category       569 non-null    object
 10  lng            569 non-null    float64
 11  lat            569 non-null    float64
 12  facility_num   569 non-null    int64
dtypes: float64(2), int64(4), object(7)
memory usage: 62.2+ KB
None
hospital_id      569
hospital_name    564
status             3
fac_level          4
address          521
city             266
zip_code         375
county            57
county_code       57
category           5
lng              524
lat              523
facility_num     569
dtype: int64

,hospital_id,hospital_name,status,fac_level,address,city,zip_code,county,county_code,category,lng,lat,facility_num
0,106010735,ALAMEDA HOSPITAL,Open,Parent Facility,2070 CLINTON AVE,ALAMEDA,94501,ALAMEDA,1,General Acute Care Hospital,-122.253991,37.76266,10735
1,106010739,ALTA BATES SUMMIT MEDICAL CENTER-ALTA BATES CA...,Open,Parent Facility,2450 ASHBY AVE,BERKELEY,94705,ALAMEDA,1,General Acute Care Hospital,-122.257430,37.85645,10739
2,106010776,UCSF BENIOFF CHILDREN'S HOSPITAL OAKLAND,Open,Parent Facility,747 52ND ST,OAKLAND,94609,ALAMEDA,1,General Acute Care Hospital,-122.267470,37.83722,10776
3,106010811,FAIRMONT HOSPITAL,Open,Consolidated Facility,15400 FOOTHILL BLVD,SAN LEANDRO,94578,ALAMEDA,1,General Acute Care Hospital,-122.118190,37.70648,10811
4,106010844,ALTA BATES SUMMIT MEDICAL CENTER-HERRICK CAMPUS,Open,Consolidated Facility,2001 DWIGHT WAY,BERKELEY,94704,ALAMEDA,1,General Acute Care Hospital,-122.269840,37.86373,10844
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,106010856,KAISER FOUNDATION HOSPITAL - OAKLAND CAMPUS,inactive,missing data,MISSING DATA,MISSING DATA,0,ALAMEDA,1,missing data,0.000000,0.00000,10856
38,106010858,KAISER FOUNDATION HOSPITAL - HAYWARD,inactive,missing data,MISSING DATA,MISSING DATA,0,ALAMEDA,1,missing data,0.000000,0.00000,10858
39,106514037,SEQUOIA PSYCHIATRIC CENTER,inactive,missing data,MISSING DATA,MISSING DATA,0,SUTTER,51,missing data,0.000000,0.00000,514037
40,106190455,LANCASTER COMMUNITY HOSPITAL,inactive,missing data,MISSING DATA,MISSING DATA,0,LOS ANGELES,19,missing data,0.000000,0.00000,190455
41,106070904,DOCTORS MEDICAL CENTER - SAN PABLO,inactive,missing data,MISSING DATA,MISSING DATA,0,CONTRA COSTA,7,missing data,0.000000,0.00000,70904

In [121]:
# duplicates on hospital name:
hospital_bridge_final[hospital_bridge_final.duplicated(subset=['hospital_name'], keep = False)]
#conclusion: seems some have 2 different facility locations, some have maybe moved? no changes to be done

,hospital_id,hospital_name,status,fac_level,address,city,zip_code,county,county_code,category,lng,lat,facility_num
19,106014233,EDEN MEDICAL CENTER,Open,Parent Facility,20103 LAKE CHABOT RD,CASTRO VALLEY,94546,ALAMEDA,1,General Acute Care Hospital,-122.087406,37.698377,14233
343,106364430,BARSTOW COMMUNITY HOSPITAL,Open,Parent Facility,820 E MOUNTAIN VIEW ST,BARSTOW,92311,SAN BERNARDINO,36,General Acute Care Hospital,-117.016884,34.893526,364430
347,106370652,ALVARADO HOSPITAL MEDICAL CENTER,Open,Parent Facility,6655 ALVARADO RD,SAN DIEGO,92120,SAN DIEGO,37,General Acute Care Hospital,-117.057319,32.776641,370652
372,106374063,ALVARADO HOSPITAL MEDICAL CENTER,Open,Consolidated Facility,6645 ALVARADO RD,SAN DIEGO,92120,SAN DIEGO,37,General Acute Care Hospital,-117.056960,32.777100,374063
415,106414139,KAISER FOUNDATION HOSPITAL - REDWOOD CITY,Open,Parent Facility,1100 VETERANS BLVD,REDWOOD CITY,94063,SAN MATEO,41,General Acute Care Hospital,-122.224630,37.489670,414139
424,106430035,STANFORD HEALTH CARE,Open,Consolidated Facility,500 PASTEUR DR,PALO ALTO,94304,SANTA CLARA,43,General Acute Care Hospital,-122.176570,37.433840,430035
431,106430905,STANFORD HEALTH CARE,Open,Parent Facility,300 PASTEUR DR,PALO ALTO,94305,SANTA CLARA,43,General Acute Care Hospital,-122.175881,37.433000,430905
5,106361105,BARSTOW COMMUNITY HOSPITAL,inactive,missing data,MISSING DATA,MISSING DATA,0,SAN BERNARDINO,36,missing data,0.000000,0.000000,361105
22,106410804,KAISER FOUNDATION HOSPITAL - REDWOOD CITY,inactive,missing data,MISSING DATA,MISSING DATA,0,SAN MATEO,41,missing data,0.000000,0.000000,410804
23,106010805,EDEN MEDICAL CENTER,inactive,missing data,MISSING DATA,MISSING DATA,0,ALAMEDA,1,missing data,0.000000,0.000000,10805

In [122]:
hospital_bridge_final.columns

Index(['hospital_id', 'hospital_name', 'status', 'fac_level', 'address',
       'city', 'zip_code', 'county', 'county_code', 'category', 'lng', 'lat',
       'facility_num'],
      dtype='object')

In [130]:
hospital_bridge_final.dtypes

hospital_name     object
status            object
fac_level         object
address           object
city              object
zip_code           int64
county            object
county_code        int64
category          object
lng              float64
lat              float64
facility_num       int64
dtype: object

In [129]:
hospital_bridge_final.set_index('hospital_id',inplace=True)

KeyError: "None of ['hospital_id'] are in the columns"

In [131]:
hospital_bridge_final.head()

,hospital_name,status,fac_level,address,city,zip_code,county,county_code,category,lng,lat,facility_num
hospital_id,,,,,,,,,,,,
106010735,ALAMEDA HOSPITAL,Open,Parent Facility,2070 CLINTON AVE,ALAMEDA,94501,ALAMEDA,1,General Acute Care Hospital,-122.253991,37.76266,10735
106010739,ALTA BATES SUMMIT MEDICAL CENTER-ALTA BATES CA...,Open,Parent Facility,2450 ASHBY AVE,BERKELEY,94705,ALAMEDA,1,General Acute Care Hospital,-122.257430,37.85645,10739
106010776,UCSF BENIOFF CHILDREN'S HOSPITAL OAKLAND,Open,Parent Facility,747 52ND ST,OAKLAND,94609,ALAMEDA,1,General Acute Care Hospital,-122.267470,37.83722,10776
106010811,FAIRMONT HOSPITAL,Open,Consolidated Facility,15400 FOOTHILL BLVD,SAN LEANDRO,94578,ALAMEDA,1,General Acute Care Hospital,-122.118190,37.70648,10811
106010844,ALTA BATES SUMMIT MEDICAL CENTER-HERRICK CAMPUS,Open,Consolidated Facility,2001 DWIGHT WAY,BERKELEY,94704,ALAMEDA,1,General Acute Care Hospital,-122.269840,37.86373,10844

## IMPORT DATABASES

In [124]:
import config as creds

# create database connection:
rds_connection_string = f"{creds.PGUSER}:{creds.PGPASSWORD}@{creds.PGHOST}:5432/{creds.PGDATABASE}"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [125]:
# Confirm tables
engine.table_names()

['id_zip', 'staffing']

In [132]:
# Load DataFrames into databases
hospital_bridge_final.to_sql(name='id_zip', con=engine, if_exists='append', index=True)

In [134]:
staffing_df_for_import.to_sql(name='staffing', con=engine, if_exists='append', index=False)

In [135]:
pd.read_sql_query('select * from id_zip', con=engine).head()

,hospital_id,hospital_name,status,fac_level,address,city,zip_code,county,county_code,category,lng,lat,facility_num
0,106010735,ALAMEDA HOSPITAL,Open,Parent Facility,2070 CLINTON AVE,ALAMEDA,94501,ALAMEDA,1,General Acute Care Hospital,-122.253991,37.76266,10735
1,106010739,ALTA BATES SUMMIT MEDICAL CENTER-ALTA BATES CA...,Open,Parent Facility,2450 ASHBY AVE,BERKELEY,94705,ALAMEDA,1,General Acute Care Hospital,-122.257430,37.85645,10739
2,106010776,UCSF BENIOFF CHILDREN'S HOSPITAL OAKLAND,Open,Parent Facility,747 52ND ST,OAKLAND,94609,ALAMEDA,1,General Acute Care Hospital,-122.267470,37.83722,10776
3,106010811,FAIRMONT HOSPITAL,Open,Consolidated Facility,15400 FOOTHILL BLVD,SAN LEANDRO,94578,ALAMEDA,1,General Acute Care Hospital,-122.118190,37.70648,10811
4,106010844,ALTA BATES SUMMIT MEDICAL CENTER-HERRICK CAMPUS,Open,Consolidated Facility,2001 DWIGHT WAY,BERKELEY,94704,ALAMEDA,1,General Acute Care Hospital,-122.269840,37.86373,10844

In [136]:
pd.read_sql_query('select * from staffing', con=engine).head()

   hospital_id  year                staff_group  prod_hrs  prodhrs_adjptday
0    106010735  2009   Management & Supervision     63558              1.17
1    106010735  2009    Technician & Specialist    163706              3.02
2    106010735  2009           Registered Nurse    180034              3.32
3    106010735  2009  Licensed Vocational Nurse     22323              0.41
4    106010735  2009          Aides & Orderlies     97205              1.79

In [137]:
pd.read_sql_query('select * from id_zip', con=engine).head()

   ?column?
0     False
1     False
2     False
3     False
4     False

In [138]:
#test
test_bridge=hospital_bridge_final.copy()

In [139]:
test_bridge.head()

,hospital_name,status,fac_level,address,city,zip_code,county,county_code,category,lng,lat,facility_num
hospital_id,,,,,,,,,,,,
106010735,ALAMEDA HOSPITAL,Open,Parent Facility,2070 CLINTON AVE,ALAMEDA,94501,ALAMEDA,1,General Acute Care Hospital,-122.253991,37.76266,10735
106010739,ALTA BATES SUMMIT MEDICAL CENTER-ALTA BATES CA...,Open,Parent Facility,2450 ASHBY AVE,BERKELEY,94705,ALAMEDA,1,General Acute Care Hospital,-122.257430,37.85645,10739
106010776,UCSF BENIOFF CHILDREN'S HOSPITAL OAKLAND,Open,Parent Facility,747 52ND ST,OAKLAND,94609,ALAMEDA,1,General Acute Care Hospital,-122.267470,37.83722,10776
106010811,FAIRMONT HOSPITAL,Open,Consolidated Facility,15400 FOOTHILL BLVD,SAN LEANDRO,94578,ALAMEDA,1,General Acute Care Hospital,-122.118190,37.70648,10811
106010844,ALTA BATES SUMMIT MEDICAL CENTER-HERRICK CAMPUS,Open,Consolidated Facility,2001 DWIGHT WAY,BERKELEY,94704,ALAMEDA,1,General Acute Care Hospital,-122.269840,37.86373,10844

In [140]:
test_bridge['address'] = test_bridge['address'].str.replace('BLVD', 'BOULEVARD')

In [141]:
test_bridge.head()

,hospital_name,status,fac_level,address,city,zip_code,county,county_code,category,lng,lat,facility_num
hospital_id,,,,,,,,,,,,
106010735,ALAMEDA HOSPITAL,Open,Parent Facility,2070 CLINTON AVE,ALAMEDA,94501,ALAMEDA,1,General Acute Care Hospital,-122.253991,37.76266,10735
106010739,ALTA BATES SUMMIT MEDICAL CENTER-ALTA BATES CA...,Open,Parent Facility,2450 ASHBY AVE,BERKELEY,94705,ALAMEDA,1,General Acute Care Hospital,-122.257430,37.85645,10739
106010776,UCSF BENIOFF CHILDREN'S HOSPITAL OAKLAND,Open,Parent Facility,747 52ND ST,OAKLAND,94609,ALAMEDA,1,General Acute Care Hospital,-122.267470,37.83722,10776
106010811,FAIRMONT HOSPITAL,Open,Consolidated Facility,15400 FOOTHILL BOULEVARD,SAN LEANDRO,94578,ALAMEDA,1,General Acute Care Hospital,-122.118190,37.70648,10811
106010844,ALTA BATES SUMMIT MEDICAL CENTER-HERRICK CAMPUS,Open,Consolidated Facility,2001 DWIGHT WAY,BERKELEY,94704,ALAMEDA,1,General Acute Care Hospital,-122.269840,37.86373,10844